{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<form id="lang-form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="#" />
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
    {% if language.code != LANGUAGE_CODE %}
        <input name="language" value="{{ language.code }}" type="hidden">
    {% endif %}
    {% endfor %}
</form>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">Login</h5>
            </div>
            <div class="modal-body">
                <form method="post" action="/" class="form-horizontal">{% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">{% trans 'Username' %}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" name="username" placeholder="{% trans 'Username' %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">{% trans 'Password' %}</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" name="password" placeholder="{% trans 'Password' %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">{% trans 'Sign in' %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-collapse">
                <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DozoR</a>
            <p class="navbar-text">{% block gamename %}{% endblock %}</p>
        </div>
        <div class="collapse navbar-collapse" id="top-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{% trans 'Statistics' %}</a></li>
                {% if user.is_authenticated %}
                    <li><a href="#">{{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">{% trans 'Sign out' %}</a></li>
                {% else %}
                    <li><a type="button" data-toggle="modal" data-target="#loginModal">{% trans 'Sign in'%}</a></li>
                {% endif %}
                <li>
                    <a href="#" onclick="document.getElementById('lang-form').submit()"><i class="glyphicon glyphicon-globe" title="{% trans 'Сменить язык' %}"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% if error_message %}<div class="alert alert-{% if error_message.0 %}danger{% else %}success{% endif %}" role="alert">{{ error_message.1 }}</div>{% endif %}
<div class="container-fluid">
{% block content %}

{% endblock %}
</div>
</body>
    <script async src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>