{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}DozoR{% endblock %}

{% block content %}
    {% if active_games %}
        {% for game in active_games %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <em class="text-muted pull-right">{{ game.start|date:"j M Y" }}</em>
                    <h3 class="panel-title">{{ game.name }}</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>{% trans 'Author' %}</dt><dd>{{ game.author }}</dd>
                        <dt>{% trans 'Start' %}</dt><dd>{{ game.start|date:"G:i j M Y"}}</dd>
                        <dt>{% trans 'Legend' %}</dt><dd>{{ game.legend|safe|linebreaks }}</dd>
                        <dt>{% trans 'Tools' %}</dt><dd>{% trans "Automobile" %}<br>{% trans 'Internet device' %}<br>{% trans 'Flashlight' %}<br>
                        {{ game.tools|safe|linebreaks }}</dd>
                        <dt>{% trans 'Pre-task' %}</dt><dd>{{ game.pretask|safe|linebreaks }}</dd>
                    </dl>
                    <a href="{% url 'go:index' game.id %}">{% trans 'Enter the game!' %}</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>{% trans 'There are no planned games' %}</h3>
    {% endif %}
{% endblock %}