<h1>{{ game.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div>
    {% for task in game.task_set.all %}
        <div>
            <p>Task {{ task.num }}</p>
            <p>{{ task.desc }}</p>
            <div>
                {% for code in task.code_set.all %}
                    <span {% if code.is_posted %}style="color:#f00"{% endif %}>{{ code.weight }} </span>
                {% endfor %}
            </div>
            <form action="{% url 'go:game' game.id %}" method="post">{% csrf_token %}
                <input type="hidden" name="task_id" value="{{ task.id }}"/>
                <label>Code:</label><input type="text" name="code" /><button type="submit">Send</button>
            </form>
        </div>
    {% endfor %}
</div>